.banner {
  position: relative;
  height: 40rem;
  padding-top: 100px;

  @include responsiveMax(tab) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 50px;
    height: 50rem;
  }

  &-home {
    position: relative;
    overflow: hidden;
    // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    // url("../imgs/background/header-home.png") fixed no-repeat center/cover;
    // @supports (mask-image: url("../imgs/background/header-home.png")) {
    //   mask-image: url("../imgs/background/header-home.png");
    //   mask-size: cover;
    //   background-image: none;
    // }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-home.png") no-repeat center/cover;
      z-index: -1; // Ensure the pseudo-element is behind the content
    }
  }

  &-about {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-about.jpg") no-repeat center/cover;
      z-index: -1; // Ensure the pseudo-element is behind the content
    }
  }

  &-service {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-service.png") no-repeat center/cover;
      z-index: -1;
    }
  }

  &-how {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-exp.png") no-repeat center/cover;
      z-index: -1;
    }
  }

  &-contact {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-consultant.png") no-repeat center/cover;
      z-index: -1;
    }
  }

  &-license {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-license.png") no-repeat center/cover;
      z-index: -1;
    }
  }

  &-exp {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-exp.png") no-repeat center/cover;
      z-index: -1;
    }
  }

  &-join {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../imgs/background/header-join.jpeg") no-repeat center/cover;
      z-index: -1;
    }
  }

  & .content {
    gap: 1.5rem;

    & .content-txt {
      @include responsiveMin(tab) {
        font-weight: 700 !important;
      }
    }
    & .content-title {
      width: 60% !important;

      @include responsiveMin(tab) {
        font-weight: bold !important;
      }
    }
  }
}
