$wht: #fff;
$blk: #000;
$green: #23b5af;
$yellow: #eeba4c;
$border: lighten($blk, 85);
$bg: darken($wht, 2);

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;

  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 3px;
    background-color: $border;
    margin-left: -1.5px;
    left: 20px;

    @media (min-width: 576px) {
      left: 50%;
    }
  }

  > li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 55px;

    &:after,
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .panel {
      width: 100%;
      float: left;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      background: $wht;
      box-shadow: 1px 2px 80px 0 rgba($blk, 0.1);

      summary {
        display: block;
        user-select: none;
        outline: none;
        padding: 20px;
        margin-bottom: 0px;
        transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
        transition-property: margin, background;
        font-weight: 600;

        &::-webkit-details-marker {
          display: none;
        }

        &:hover {
          background: rgba($blk, 0.1);
        }
      }

      p {
        padding: 0 20px 10px;
      }

      &[open] summary {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($blk, 0.1);
      }
    }

    @media (min-width: 576px) {
      padding-left: 0px;

      .panel {
        width: 50%;
      }

      &:not(:nth-child(even)) {
        padding-right: 90px;
      }

      &:nth-child(even) {
        padding-left: 90px;
        > :nth-child(even) {
          float: right;
        }
      }
    }

    > {
      .icon {
        color: $border;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 2rem;
        text-align: center;
        position: absolute;
        left: 20px;
        margin-left: -25px;
        background-color: $bg;
        z-index: 999;
        border-radius: 50%;

        @media (min-width: 576px) {
          left: 50%;
        }
      }
    }
  }
}

@for $i from 1 to 6 {
  .icon.icon-#{$i}::before {
    content: "#{$i}";
  }
}
/***********************************************************************/
/***********************************************************************/
.consultant-steps {
  direction: ltr !important;
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 3rem 2rem;
  color: var(--color);
  background: var(--bgColor);
  h1 {
    text-align: center;
  }

  ul {
    --col-gap: 2rem;
    --row-gap: 4rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }

  /* line */
  ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }

  /* columns*/

  /* row gaps */
  ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }

  /* card */
  ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }

  /* step-title */
  ul li .step-title {
    --titleH: 3rem;
    height: var(--titleH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--color-primary);

    color: white;
    font-size: 1.25rem;
    font-weight: 600;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--titleH) / 2) 0 0 calc(var(--titleH) / 2);
  }

  /* step-title flap */
  ul li .step-title::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--color-primary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }

  @for $i from 1 to 5 {
    ul li .step-title.circle-#{$i}::after {
      content: "#{$i}";
    }
  }
  /* circle */
  ul li .step-title::after {
    // content: "";
    position: absolute;
    aspect-ratio: 1;
    background-color: $bg;
    // border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
    color: var(--color-primary) !important;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
    font-size: 2rem;
    width: 50px;
    height: 50px;
    box-shadow: 0 0.5rem 1rem rgba($blk, 0.15) !important;
    line-height: 50px;
    font-weight: 400;
  }

  /* desc */
  ul li .desc {
    background: $wht;
    position: relative;
    padding-inline: 1.5rem;
    margin-top: -6px;
    padding-top: 1rem;
    padding-block-end: 1.5rem;
    font-weight: 600;
    box-shadow: 1px 2px 80px 0 rgba($blk, 0.1);
  }

  /* shadows */
  ul li .desc::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }

  ul li .desc::before {
    z-index: -1;
    bottom: 0.25rem;
  }

  @media (min-width: 40rem) {
    ul {
      --row-gap: 10rem;
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    ul::before {
      grid-column: 2;
    }
    ul li:nth-child(odd) {
      grid-column: 1;
    }
    ul li:nth-child(even) {
      grid-column: 3;
    }

    /* start second card */
    ul li:nth-child(2) {
      grid-row: 2/4;
    }

    ul li:nth-child(odd) .step-title::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }

    ul li:nth-child(odd) .step-title::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    ul li:nth-child(odd) .step-title {
      border-radius: 0 calc(var(--titleH) / 2) calc(var(--titleH) / 2) 0;
    }
  }
}
