extends ../layout

block content
    header.banner.banner-about.d-flex.justify-content-center.align-items-center
        .container
            .content.d-flex.flex-column.text-white
                h2.h1.fs-1.fw-semibold.fw-lg-bold.lh-base.text-center.w-75.mx-auto.custom-title(data-aos='fade-down') #{locales.headers['about']}
                p.h4.fs-4.fw-semibold.fw-lg-bold.lh-base.text-center.w-75.mx-auto.custom-txt #{locales.headers['about2']}
    main.main-about
        include ../components/cards

    include ../components/footer