extends ../layout

block content
    header.banner.banner-contact.d-flex.justify-content-center.align-items-center
    main.main-how
        include ../components/form1

    include ../components/footer