extends ../layout

block content
    header.banner.banner-join.d-flex.justify-content-center.align-items-center
    main.main-join
        section.join(style='padding-top: 3rem; padding-bottom: 3rem')
            .container
                +sectionTitle('إنضم كخبير')
                .join-content-form.mt-4
                    form.join-form.row.g-3(action="")
                        .col-lg-4
                            label.form-label.custom-txt2(for='fullName') إسم الخبير بالكامل
                            input#fullName.form-control.custom-txt2(type='text')
                        .col-lg-4
                            label.form-label.custom-txt2(for='email') البريد الالكتروني
                            input#email.form-control.custom-txt2(type='email')
                        .col-lg-4
                            label.form-label.custom-txt2(for='tel') رقم الهاتف
                            input#tel.form-control.custom-txt2(type='tel')
                        .col-lg-4
                            label.form-label.custom-txt2(for='special') التخصص العام
                            input#special.form-control.custom-txt2(type='text')
                        .col-lg-4
                            label.form-label.custom-txt2(for='expYears') مجموع سنوات الخبرة العملية
                            input#expYears.form-control.custom-txt2(type='text')
                        .col-lg-4
                            label.form-label.custom-txt2(for='') هل ترغب بعرض اسمك و صورتك
                            div
                                .form-check.form-check-inline.custom-txt2
                                    input#yes.form-check-input(type='radio', name='namePhoto', value='yes')
                                    label.form-check-label.custom-txt2(for='yes') نعم
                                .form-check.form-check-inline.custom-txt2
                                    input#no.form-check-input(type='radio', name='namePhoto', value='no')
                                    label.form-check-label.custom-txt2(for='no') لا
                        .col-lg-6
                            label.form-label.custom-txt2(for='txtArea1') تخصص دقيق
                            textarea#txtArea1.form-control.custom-txt2(rows='5')
                        .col-lg-6
                            label.form-label.custom-txt2(for='txtArea2') الجهات التي عملتم معها <span class='color-primary'>"ارجو اضافة الموقع الالكتروني لكل جهة"</span>
                            textarea#txtArea2.form-control.custom-txt2(rows='5')
                        .col-lg-6
                            label.form-label.custom-txt2(for='txtArea3') الخدمات التي يمكن تقديمها و الإستشارات التي يمكن الدعم فيها بشكل مفصل <span class='color-primary'>"عربي- انكليزي"</span>
                            textarea#txtArea3.form-control.custom-txt2(rows='5')
                        .col-lg-6
                            label.form-label.custom-txt2(for='txtArea4') الجهات التي حصلتم منها على شهادة أكاديمية <span class='color-primary'>"ارجو اضافة الموقع الالكتروني لكل مؤسسة تعليمية"</span>
                            textarea#txtArea4.form-control.custom-txt2(rows='5')
                        .col-lg-6
                            label.form-label.custom-txt2(for='txtArea5') الجهات التي لديكم فيها عضوية مجلس إدارة أو إستشارة أو تعاون
                            textarea#txtArea5.form-control.custom-txt2(rows='5')
                        .col-lg-6
                            label.form-label.custom-txt2(for='txtArea6') ارجو إضافة أي إقتراحات أو تفاصيل أو معلومات هامة
                            textarea#txtArea6.form-control.custom-txt2(rows='5')
                        .col-12
                            label.form-label.custom-txt2(for='licensesFiles') الرخص المهنية
                            input#licensesFiles.form-control.custom-txt2(type='file', multiple)







    include ../components/footer