extends ../layout

block content
    header.banner.banner-service.d-flex.justify-content-center.align-items-center
    main.main-about
        include ../components/service

    include ../components/footer