header.banner.d-flex.justify-content-center.align-items-center
    .container
        .content.d-flex.flex-column.text-white
            h2.content-title.h1.fs-1.fw-semibold.fw-lg-bold.lh-base.text-center.w-50.mx-auto(data-aos='fade-down') بيت الخبراء يفتح أبوابه ويأخذ معك رحلة التغيير من البداية
            //- p.content-txt.fs-4.fw-normal.fw-lg-medium.lh-base(data-aos='fade-down') لنعطي من خبراتنا و معرفتنا كل من يريد معلومة أو يبحث عن متخصص في إحدى المجالات ولديه الخبرة من أرض الواقع في العديد من التخصصات المالية و الإدارية و الأنشطة التجارية المختلفة.
            //- .buttons-group.d-flex.align-items-start.gap-3(data-aos='fade-right')
            //-     button.btn.circle-btn.button-primary(type="button") من نحن
            //-     button.btn.circle-btn.button-light(type="button") تواصل معنا