header.banner.banner-home.d-flex.justify-content-center.align-items-center
    .container
        .content.d-flex.flex-column.text-white
            h2.content-title.h1.fs-1.fw-semibold.fw-lg-bold.lh-base.text-center.w-50.mx-auto(data-aos='fade-down') بيت الخبراء يفتح أبوابه ويأخذ معك رحلة التغيير من البداية
