section.start-about.bg-gray2
    .container
        .d-flex.flex-column.justify-content-center.align-items-center
            +sectionTitle(`${locales.start["title"]}`)
            p.fs-4.fw-normal.fw-lg-medium.lh-base.w-75.text-center.custom-txt(data-aos='fade-down')!= locales.start["txt"]["normal"]