mixin sectionTitle(title)
    div.d-flex.align-items-center.justify-content-center.pb-4(data-aos='fade-down')
            img.d-none(src="./imgs/icons/arrow-left-line.svg", alt="arrow icon")
            h3.h3.mb-0.color-primary.text-uppercase.custom-title #{title}